target/
!.mvn/wrapper/maven-wrapper.jar
log/
logs/
*.log

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
.metadata/

# VS Code
.vscode/

# MacOS
.DS_Store

# Allure
allure-results/
.allure/

# Others
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
